.about {
  border: 3px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: left;
}

.about img {
  max-height: 100px;
  max-height: 100px;
  height: auto;
  border-radius: 20%;
}

.about h1{
  font-size: 35px;
  margin: 0;
}

.about h2{
  font-size: 30px;
  margin: 0;
}

.about p{
  font-size: 20px;
  width: 60%;
  text-align: left;
}