.projects {
  grid-column: 1 / 4; /* Ocupa las columnas restantes */
  grid-row: 3 / 6; /* Fila donde quieres que aparezca */
  margin-right: 0.5em;
  margin-top: 1em;
}

.projects h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Coloca las tarjetas una debajo de la otra */
  gap: 1.5rem; /* Espacio entre cada tarjeta */
}

.projects li {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
  max-width: 600px;
  margin: 0 auto; /* Centra las tarjetas */
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent; /* Espacio para el borde */
  border-radius: 8px; /* Redondea las esquinas si quieres */
  padding: 10px;
  background: linear-gradient(
        to right,
        rgba(219, 76, 76, 0.8),  /* Rojo claro moderado */
        rgba(184, 57, 57, 0.9),  /* Rojo intenso */
        rgba(229, 79, 79, 0.8)   /* Rojo claro moderado */
    );
  background-origin: border-box; /* Hace que el degradado siga el borde */
  background-clip: padding-box, border-box; /* Separa el degradado del fondo interno */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra */
}

.project-card-content{
  background-color: #222; /* Fondo interior */
  border-radius: 6px; /* Redondeado para coincidir con el borde exterior */
}

.card-image{
  width: 100%;
}

.card-image img {
  width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
  border-radius: 6px 6px 0 0; 
}

.card-content {
  padding: 1rem;
  text-align: left; /* Alinea el texto a la izquierda */
}

.card-title {
  font-size: 1.2rem; /* Reduce el tamaño del título */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.9rem; /* Reduce el tamaño de la descripción */
  margin-bottom: 1rem;
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-tags img {
  width: 25px; /* Ajusta el tamaño de los iconos de tecnología */
  height: 25px;
  margin-right: 10px;
}

.card-links a {
  font-size: 0.8rem; /* Reduce el tamaño del texto en los enlaces */
  text-decoration: none;
  margin-left: 1rem;
  color: rgb(235,74,74);
}

.card-links a:hover {
  text-decoration: underline;
}
