.skills{
    border: 3px solid black;
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    height: 170px;
  }

.skills h2{
    font-size: 35px;
    margin: 5px;
}

.skills ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    padding: 0px;

}

.skills ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.skills img {
    max-height: 50px;
    max-width: 50px;
}           
