* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  
}

.corner-container-left {
  position: relative;
  background-color: #3498db; /* Fondo para el contenedor */
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: 20px;
  height: 500px; /* Alto del contenedor */
  text-align: center;

  /* Usar clip-path para crear una esquina cortada en el lado izquierdo */
  clip-path: polygon(0% 10%, 100% 0%, 90% 80%, 0% 100%);
  
  /* Agregar una esquina cortada también en el lado derecho */
   /* transform: skewY(-3deg) skewX(0deg);  */
   width: 70%;
   /* margin-left: -200px;; */
}

.corner-container-right {
  position: relative;
  background-color: #3498db; /* Fondo para el contenedor */
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: 20px;
  height: 500px; /* Alto del contenedor */
  text-align: center;

  /* Usar clip-path para crear una esquina cortada en el lado izquierdo */
  clip-path: polygon(15% 20%, 100% 0%, 100% 100%, 0% 90%);
  
  /* Agregar una esquina cortada también en el lado derecho */
   /* transform: skewY(-3deg) skewX(0deg);  */
   width: 70%;
   /* margin-right: -500px;; */
}

h2, p, button {
  margin: 10px 0;
}
