@font-face {
  font-family: 'Manga-font';
  src: url('./fonts/mango-scribble.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Centrado en la pantalla */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Manga-font';
  text-align: center;
  background-color: #f4f4f4;
  font-size: 25px;
  height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  display: flex; /* Usamos flexbox para centrar contenido */
  flex-direction: column; /* Apilamos las secciones de arriba a abajo */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: flex-start; /* Coloca los elementos en la parte superior */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.app {
  margin: 20px;
  min-height: 90vh;
  width: 60vw;
}

.app .container {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

