@font-face {
  font-family: 'Manga-font';
  src: url('./fonts/mango-scribble.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Centrado en la pantalla */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Manga-font';
  text-align: center;
  background-color: #f4f4f4;
  font-size: 25px;
  height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  display: flex; /* Usamos flexbox para centrar contenido */
  flex-direction: column; /* Apilamos las secciones de arriba a abajo */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: flex-start; /* Coloca los elementos en la parte superior */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.app{
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr;
  gap: 10px; /* Espacio entre elementos */
  padding: 50px;
}

section {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.about {
  grid-column: 1 / 6; /* Ocupa todas las columnas */
  grid-row: 1 / 2;    /* Primera fila */
}

.skills {
  grid-column: 1 / 4; /* Ocupa las primeras 3 columnas */
  grid-row: 2 / 3;    /* Segunda fila */
}

.experience {
  grid-column: 4 / 6; /* Ocupa todas las columnas */
  grid-row: 2 / 4;    /* Tercera fila */
}

.projects {
  grid-column: 1 / 4; /* Ocupa las columnas restantes */
  grid-row: 3 / 6;    /* Segunda fila */
}

.education {
  grid-column: 4 / 6; /* Ocupa todas las columnas */
  grid-row: 4 / 6;    /* Cuarta fila */
}

.contact{
  grid-column: 1 / 6; /* Ocupa todas las columnas */
  grid-row: 6 / 7;    /* Quinta fila */
}

